<% content_for :title, "Ideas" %>

<div class="min-h-screen">
  <div class="px-7 pt-8">
    <div class="flex justify-between items-end gap-4">
      <h1 class="cf-headline text-[clamp(72px,13vw,120px)]">
        HERE ARE<br>YOUR IDEAS
      </h1>
      <%= render "shared/liquid_plus_cta", path: new_idea_path, label: "new idea" %>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full border-collapse min-w-[500px]">
        <thead>
          <tr class="text-left">
            <th class="pt-12 pb-3 cf-h2 font-normal">title</th>
            <th class="pt-12 pb-3 cf-h2 font-normal">subject</th>
            <th class="pt-12 pb-3 cf-h2 font-normal">created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr><td colspan="4"><div class="cf-rule"></div></td></tr>
          <% if @ideas.any? %>
            <% @ideas.each do |idea| %>
              <tr class="cf-row cursor-pointer" data-controller="row-link" data-row-link-url-value="<%= idea_path(idea) %>" data-action="click->row-link#visit">
                <td class="py-[18px] cf-label font-normal"><%= idea.title %></td>
                <td class="py-[18px] cf-label font-normal"><%= idea.topic %></td>
                <td class="py-[18px] cf-label font-normal"><%= idea.created_at.strftime("%b %d, %Y") %></td>
                <td class="py-[18px] pr-px cf-label font-normal text-right whitespace-nowrap">
                  <%= link_to "delete", idea, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-[var(--cf-orange)] hover:text-[var(--cf-orange-press)] transition-colors duration-150" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4" class="py-10 text-center cf-meta">No ideas yet. Click + to create your first one.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
