<% content_for :title, @script.title %>

<div class="flex flex-col" style="height: calc(100vh - 64px);" data-controller="script-edit">
  <div class="px-7 pt-2 flex flex-col flex-1 overflow-hidden">
    <%= link_to idea_path(@idea), class: "cf-meta inline-flex items-center gap-2 hover:text-[var(--cf-orange)] transition-colors duration-150", style: "position: relative; z-index: 20; cursor: pointer;" do %>
      <%= image_tag "arrow.svg", style: "width: 20px; height: 20px; transform: rotate(180deg); pointer-events: none;", alt: "" %>
      <span style="pointer-events: none;">go back</span>
    <% end %>

    <div data-script-edit-target="header" class="flex justify-between items-start mb-10 relative z-10">
      <h1 class="cf-headline text-[clamp(72px,13vw,120px)]" style="margin-top: 10px;" data-script-edit-target="showTitle"><%= @script.title.upcase %></h1>
      <div class="shrink-0 pt-2">
        <button type="button" data-script-edit-target="pen" data-action="script-edit#toggle" class="edit-pen-btn hover:opacity-70 transition-opacity duration-150 flex flex-col items-center">
          <div data-script-edit-target="penIcon">
            <%= image_tag "pen_edit.svg", class: "w-14 h-14", alt: "Edit script" %>
          </div>
          <div data-script-edit-target="penLine" class="w-14 mt-1 h-0.5 overflow-hidden transition-all duration-500 ease-in-out">
            <%= image_tag "pen_line.svg", class: "pen-line-inner w-14 h-0.5", alt: "" %>
          </div>
          <span data-script-edit-target="editLabel" class="edit-label cf-meta mt-1 w-14 text-center tracking-[0.3em]">edit</span>
        </button>
      </div>
    </div>

    <%# ---- Show content ---- %>
    <div class="overflow-hidden pb-8">
    <div data-script-edit-target="show">
      <div data-script-edit-target="showPart" class="flex gap-6 cf-meta mb-8">
        <% if @script.style.present? %><span data-script-edit-target="showStyle"><%= @script.style %></span><% end %>
        <% if @script.length.present? %><span data-script-edit-target="showLength"><%= @script.length %></span><% end %>
      </div>

      <% if @script.description.present? %>
        <div data-script-edit-target="showPart" class="max-w-2xl mb-10">
          <p class="cf-h2 font-normal mb-2">description</p>
          <p class="cf-body" data-script-edit-target="showDescription"><%= @script.description %></p>
        </div>
      <% end %>

      <% if @script.system_prompt.present? %>
        <div data-script-edit-target="showPart" class="max-w-2xl mb-10">
          <p class="cf-h2 font-normal mb-2">system prompt</p>
          <p class="cf-body whitespace-pre-wrap" data-script-edit-target="showSystemPrompt"><%= @script.system_prompt %></p>
        </div>
      <% end %>

      <div data-script-edit-target="showPart">
        <div class="flex justify-between items-end mb-1">
          <p class="cf-h2 font-normal">your posts</p>
          <div class="flex items-end gap-6">
            <p class="cf-h2 font-normal">turn scipt into a post:</p>
            <%= link_to new_script_linkedin_post_path(@script), class: "icon-platform w-8 h-8 block" do %>
              <svg viewBox="0 0 130.5 130.5" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8">
                <path d="M120.867 0H9.63344C7.07849 0 4.62819 1.01495 2.82157 2.82157C1.01495 4.62819 0 7.07849 0 9.63344V120.867C0 123.422 1.01495 125.872 2.82157 127.678C4.62819 129.485 7.07849 130.5 9.63344 130.5H120.867C123.422 130.5 125.872 129.485 127.678 127.678C129.485 125.872 130.5 123.422 130.5 120.867V9.63344C130.5 7.07849 129.485 4.62819 127.678 2.82157C125.872 1.01495 123.422 0 120.867 0ZM38.8962 111.17H19.2759V48.8469H38.8962V111.17ZM29.0725 40.2103C26.8469 40.1978 24.6749 39.5263 22.8306 38.2805C20.9863 37.0347 19.5524 35.2705 18.7098 33.2106C17.8672 31.1506 17.6536 28.8872 18.0962 26.706C18.5387 24.5249 19.6174 22.5236 21.1962 20.9549C22.775 19.3862 24.7831 18.3204 26.9671 17.8919C29.1511 17.4634 31.4131 17.6914 33.4676 18.5472C35.5221 19.4031 37.277 20.8483 38.5109 22.7005C39.7448 24.5528 40.4024 26.7291 40.4006 28.9547C40.4216 30.4447 40.1424 31.9238 39.5796 33.3036C39.0168 34.6835 38.182 35.9359 37.1249 36.9862C36.0678 38.0366 34.8101 38.8633 33.4266 39.4173C32.0432 39.9712 30.5624 40.2409 29.0725 40.2103ZM111.215 111.224H91.6038V77.1763C91.6038 67.135 87.3353 64.0356 81.8253 64.0356C76.0072 64.0356 70.2978 68.4219 70.2978 77.43V111.224H50.6775V48.8922H69.5456V57.5288H69.7994C71.6934 53.6953 78.3272 47.1431 88.45 47.1431C99.3975 47.1431 111.224 53.6409 111.224 72.6722L111.215 111.224Z" fill="var(--fill-0, black)"/>
              </svg>
            <% end %>
            <%= link_to new_script_twitter_post_path(@script), class: "icon-platform w-8 h-8 block" do %>
              <svg viewBox="0 0 120.762 98.125" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8">
                <path d="M37.9771 98.125C83.5476 98.125 108.473 60.3701 108.473 27.6293C108.473 26.5569 108.473 25.4894 108.4 24.4267C113.249 20.9193 117.435 16.5766 120.762 11.6018C116.24 13.6064 111.443 14.9205 106.531 15.5C111.703 12.4039 115.575 7.53366 117.424 1.79597C112.56 4.68221 107.239 6.71612 101.691 7.80989C97.9552 3.83773 93.0147 1.20746 87.6336 0.32612C82.2525 -0.555222 76.731 0.361494 71.9234 2.93441C67.1158 5.50733 63.2902 9.593 61.0386 14.5592C58.787 19.5254 58.2349 25.0952 59.4678 30.4068C49.6174 29.9127 39.9809 27.3527 31.1839 22.893C22.3869 18.4334 14.626 12.1737 8.405 4.52035C5.23666 9.97472 4.26626 16.4316 5.69139 22.5763C7.11651 28.721 10.83 34.0916 16.0758 37.5945C12.1327 37.479 8.27542 36.4152 4.83046 34.4934V34.8073C4.83203 40.5276 6.81221 46.0713 10.4352 50.4981C14.0581 54.9249 19.1008 57.9622 24.7078 59.0949C21.0602 60.0898 17.233 60.2353 13.5205 59.52C15.1043 64.4426 18.1868 68.7473 22.337 71.8323C26.4873 74.9172 31.4978 76.6282 36.668 76.7261C31.531 80.7639 25.6483 83.7493 19.3564 85.5115C13.0646 87.2736 6.48698 87.7779 0 86.9956C11.3306 94.2665 24.5142 98.1234 37.9771 98.1057" fill="var(--fill-0, black)"/>
              </svg>
            <% end %>
            <%= link_to new_script_instagram_post_path(@script), class: "icon-platform w-8 h-8 block" do %>
              <svg viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8">
                <path d="M75.0002 0C54.6313 0 52.0771 0.0864112 44.0775 0.451258C36.0946 0.815436 30.6427 2.08347 25.872 3.93718C20.9401 5.85385 16.7575 8.4185 12.5881 12.5879C8.4185 16.7573 5.85386 20.9403 3.9374 25.8722C2.08325 30.6427 0.815659 36.0946 0.451035 44.0775C0.0861879 52.0771 0 54.6313 0 75.0002C0 95.3687 0.0861879 97.9228 0.451035 105.922C0.815659 113.905 2.08325 119.357 3.9374 124.128C5.85408 129.06 8.41873 133.242 12.5881 137.412C16.7577 141.581 20.9401 144.146 25.872 146.063C30.6427 147.917 36.0946 149.184 44.0775 149.549C52.0771 149.914 54.6313 150 75.0002 150C95.3687 150 97.9228 149.914 105.922 149.549C113.905 149.185 119.357 147.917 124.128 146.063C129.06 144.146 133.242 141.581 137.412 137.412C141.581 133.242 144.146 129.06 146.063 124.128C147.917 119.357 149.185 113.905 149.549 105.922C149.914 97.9228 150 95.3687 150 75.0002C150 54.6313 149.914 52.0771 149.549 44.0775C149.185 36.0946 147.917 30.6427 146.063 25.8722C144.146 20.9403 141.581 16.7573 137.412 12.5879C133.242 8.4185 129.06 5.85385 124.128 3.93718C119.357 2.08347 113.905 0.815436 105.922 0.451258C97.9228 0.0864112 95.3687 0 75.0002 0ZM75.0002 13.5134C95.0257 13.5134 97.3979 13.59 105.306 13.9508C112.619 14.2842 116.59 15.506 119.233 16.5331C122.734 17.8938 125.232 19.5189 127.856 22.1434C130.481 24.7679 132.106 27.2664 133.467 30.7671C134.494 33.4099 135.716 37.3812 136.049 44.6936C136.41 52.6021 136.487 54.9743 136.487 75C136.487 95.0257 136.41 97.3979 136.049 105.306C135.716 112.619 134.494 116.59 133.467 119.233C132.106 122.734 130.481 125.232 127.856 127.856C125.232 130.481 122.734 132.106 119.233 133.467C116.59 134.494 112.619 135.716 105.306 136.049C97.3992 136.41 95.0273 136.487 75 136.487C54.9727 136.487 52.6012 136.41 44.6936 136.049C37.381 135.716 33.4099 134.494 30.7673 133.467C27.2662 132.106 24.7679 130.481 22.1436 127.856C19.5191 125.232 17.8938 122.734 16.5331 119.233C15.506 116.59 14.2844 112.619 13.9508 105.306C13.59 97.3979 13.5134 95.0257 13.5134 75C13.5134 54.9743 13.59 52.6021 13.9508 44.6936C14.2844 37.381 15.506 33.4099 16.5331 30.7673C17.8938 27.2662 19.5191 24.7679 22.1434 22.1436C24.7679 19.5189 27.2664 17.8938 30.7671 16.5331C33.4099 15.506 37.3812 14.2842 44.6936 13.9508C52.6021 13.59 54.9743 13.5134 75 13.5134" fill="var(--fill-0, #100F0D)"/>
                <path d="M75.0002 100C61.1927 100 49.9999 88.8072 49.9999 75.0002C49.9999 61.1927 61.1927 49.9999 75.0002 49.9999C88.8072 49.9999 100 61.1927 100 75.0002C100 88.8072 88.8072 100 75.0002 100ZM75.0002 36.4865C53.7294 36.4865 36.4865 53.7294 36.4865 75.0002C36.4865 96.2705 53.7294 113.513 75.0002 113.513C96.2705 113.513 113.513 96.2705 113.513 75.0002C113.513 53.7294 96.2705 36.4865 75.0002 36.4865V36.4865ZM124.035 34.9648C124.035 39.9356 120.006 43.9647 115.035 43.9647C110.065 43.9647 106.035 39.9356 106.035 34.9648C106.035 29.9943 110.065 25.9646 115.035 25.9646C120.006 25.9646 124.035 29.9943 124.035 34.9648" fill="var(--fill-0, #100F0D)"/>
              </svg>
            <% end %>
          </div>
        </div>
        <div class="cf-rule"></div>

        <% existing = [
             @script.linkedin_post && { post: @script.linkedin_post, icon: "linkedin.svg", label: "linkedin", path: script_linkedin_post_path(@script) },
             @script.twitter_post  && { post: @script.twitter_post,  icon: "twitter.svg",  label: "twitter",  path: script_twitter_post_path(@script) },
             @script.instagram_post && { post: @script.instagram_post, icon: "instagram.svg", label: "instagram", path: script_instagram_post_path(@script) }
           ].compact %>
        <% if existing.any? %>
          <div class="flex flex-col">
            <% existing.each do |entry| %>
              <%= link_to entry[:path], class: "cf-row inline-flex items-center gap-3 py-[18px] cf-label font-normal hover:text-[var(--cf-orange)] transition-colors duration-150" do %>
                <%= image_tag entry[:icon], class: "w-5 h-5 shrink-0", alt: entry[:label] %>
                <span><%= entry[:post].title %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    </div>

    <%# ---- Edit form (hidden until pen click) ---- %>
    <div data-script-edit-target="form" class="hidden opacity-0 flex flex-col justify-end" style="min-height: calc(100vh - 180px);">
      <div class="flex items-end justify-between" style="padding-bottom: 90px;">
        <div class="max-w-lg">
          <%= form_with model: @script, url: script_path(@script), class: "flex flex-col gap-1" do |f| %>
            <div class="group relative pb-2" data-script-edit-target="field">
              <%= f.label :title, "title", class: "cf-h2 font-normal" %>
              <%= f.text_field :title,
                readonly: true,
                class: "cf-input cf-input-transparent border-0 rounded-none px-0 outline-none cursor-default",
                placeholder: "script title...",
                data: { script_edit_target: "input" } %>
              <span data-script-edit-target="line" class="absolute bottom-0 left-0 h-px w-0 bg-black transition-all duration-700 ease-in-out"></span>
            </div>

            <div class="group relative pb-2" data-script-edit-target="field">
              <%= f.label :style, "style", class: "cf-h2 font-normal" %>
              <%= f.text_field :style,
                readonly: true,
                class: "cf-input cf-input-transparent border-0 rounded-none px-0 outline-none cursor-default",
                placeholder: "e.g. educational, storytelling...",
                data: { script_edit_target: "input" } %>
              <span data-script-edit-target="line" class="absolute bottom-0 left-0 h-px w-0 bg-black transition-all duration-700 ease-in-out"></span>
            </div>

            <div class="group relative pb-2" data-script-edit-target="field">
              <%= f.label :length, "length", class: "cf-h2 font-normal" %>
              <%= f.text_field :length,
                readonly: true,
                class: "cf-input cf-input-transparent border-0 rounded-none px-0 outline-none cursor-default",
                placeholder: "e.g. short, medium, long...",
                data: { script_edit_target: "input" } %>
              <span data-script-edit-target="line" class="absolute bottom-0 left-0 h-px w-0 bg-black transition-all duration-700 ease-in-out"></span>
            </div>

            <div class="group relative pb-2" data-script-edit-target="field">
              <%= f.label :description, "description", class: "cf-h2 font-normal" %>
              <%= f.text_area :description,
                readonly: true,
                rows: 1,
                class: "cf-input cf-input-transparent border-0 rounded-none px-0 outline-none cursor-default h-auto py-3 resize-none overflow-hidden",
                placeholder: "what is this script about...",
                style: "field-sizing: content; min-height: 46px;",
                data: { script_edit_target: "input" } %>
              <span data-script-edit-target="line" class="absolute bottom-0 left-0 h-px w-0 bg-black transition-all duration-700 ease-in-out"></span>
            </div>

            <div class="group relative pb-2" data-script-edit-target="field">
              <%= f.label :system_prompt, "system prompt", class: "cf-h2 font-normal" %>
              <%= f.text_area :system_prompt,
                readonly: true,
                rows: 1,
                class: "cf-input cf-input-transparent border-0 rounded-none px-0 outline-none cursor-default h-auto py-3 resize-none overflow-hidden",
                placeholder: "ai instructions for generating this script...",
                style: "field-sizing: content; min-height: 46px;",
                data: { script_edit_target: "input" } %>
              <span data-script-edit-target="line" class="absolute bottom-0 left-0 h-px w-0 bg-black transition-all duration-700 ease-in-out"></span>
            </div>
          <% end %>
        </div>
        <div class="flex justify-end mt-6">
          <button type="button" data-script-edit-target="submit" data-action="script-edit#submit" class="opacity-0 pointer-events-none rounded-[10px] border-2 border-[var(--cf-ink)] bg-transparent text-[var(--cf-ink)] px-8 py-3.5 cf-action font-normal cursor-pointer transition-all duration-300 ease-in-out hover:bg-[var(--cf-accent)] hover:border-[var(--cf-accent)] hover:text-[var(--cf-cream)]">update</button>
        </div>
      </div>
    </div>
  </div>
</div>
